<h3>@ViewBag.Message</h3>

<address>
    Author: Biletskyi Vladyslav, SE-15-5, NURE.
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:vladyslav.biletskyi@nure.ua">vladyslav.biletskyi@nure.ua</a>
</address>