@model MVCClient.Models.DebtsViewModel
    <div class="row">
    <table class="table table-bordered col-md-8">
        <tr>
            <td>Subject</td>
            <td>Date</td>
            <td>Number of present</td>
            <td>Average mark</td>
        </tr>
    </table>
    </div>