@model MVCClient.Models.RegisterViewModel
<div class="row">
    <div class="col-md-1">
        <input type="date" />
    </div>
    <table class="table table-bordered col-md-offset-2 col-md-8">
        <tr>
            <td>Subject</td>
            <td>Score</td>
            <td>Number of present</td>
            <td>Average mark</td>
        </tr>
    </table>
</div>