@model MVCClient.Models.RegisterViewModel
<div class="container">
    <div class="row">
        <div class="col col-md-1">
            <input type="date"/>
        </div>
        <table class="table table-bordered col col-md-offset-2">
            <tr>
                <td>Subject</td>
                <td>Score</td>
                <td>Number of present</td>
                <td>Average mark</td>
            </tr>
        </table>
    </div>
</div>
